<a href="https://colab.research.google.com/github/ksshu/Machine_learning/blob/main/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pwd

'/content'

In [ ]:
mkdir pandas

In [ ]:
import pandas as pd

In [ ]:
weather_data ={'day' :["monday","tuesday","wednesday","thursday","friday","saturday","sunday"],
               'temperature':[30,20,28,37,35,33,29],
              ' event':["sunny","cloudy","sunny","sunny","sunny","sunny","sunny"]
               }
df=pd.DataFrame(weather_data)
df

         day  temperature   event
0     monday           30   sunny
1    tuesday           20  cloudy
2  wednesday           28   sunny
3   thursday           37   sunny
4     friday           35   sunny
5   saturday           33   sunny
6     sunday           29   sunny

In [ ]:
weather_data={"day":['1/1/21','2/1/21','3/1/21','4/1/21','5/1/21'],
              "temp":[15,0,12,18,26,],
              "wind_speed":[80,100,120,65,50],
              "condition":["rainy","snow","rainy","cloudy","sunny"]}
df=pd.DataFrame(weather_data)
df

      day  temp  wind_speed condition
0  1/1/21    15          80     rainy
1  2/1/21     0         100      snow
2  3/1/21    12         120     rainy
3  4/1/21    18          65    cloudy
4  5/1/21    26          50     sunny

In [ ]:
df.shape

(5, 4)

In [ ]:
rows,colums=df.shape

In [ ]:
rows

5

In [ ]:
colums

4

In [ ]:
df.head()

      day  temp  wind_speed condition
0  1/1/21    15          80     rainy
1  2/1/21     0         100      snow
2  3/1/21    12         120     rainy
3  4/1/21    18          65    cloudy
4  5/1/21    26          50     sunny

In [ ]:
df.head(2)

      day  temp  wind_speed condition
0  1/1/21    15          80     rainy
1  2/1/21     0         100      snow

In [ ]:
df[1:5]

      day  temp  wind_speed condition
1  2/1/21     0         100      snow
2  3/1/21    12         120     rainy
3  4/1/21    18          65    cloudy
4  5/1/21    26          50     sunny

In [ ]:
df.columns

Index(['day', 'temp', 'wind_speed', 'condition'], dtype='object')

In [ ]:
df[['day','temp']]

      day  temp
0  1/1/21    15
1  2/1/21     0
2  3/1/21    12
3  4/1/21    18
4  5/1/21    26

In [ ]:
df.wind_speed

0     80
1    100
2    120
3     65
4     50
Name: wind_speed, dtype: int64

In [ ]:
df[["wind_speed"]].max()

wind_speed    120
dtype: int64

In [ ]:
df["wind_speed"].mean()

83.0

In [ ]:
df.temp

0    15
1     0
2    12
3    18
4    26
Name: temp, dtype: int64

In [ ]:
df.temp.mean()

14.2

In [ ]:
df.wind_speed.mean()

83.0

In [ ]:
df.wind_speed.std()

27.748873851023216

In [ ]:
df.temp.std()

9.497368056467012