<a href="https://colab.research.google.com/github/ksshu/Machine_learning/blob/main/train_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing  import MinMaxScaler
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
df=pd.read_csv("book3.csv")

In [ ]:
df

   area     price
0  2600  5,50,000
1  3000  5,65,000
2  3200  6,10,000
3  3600  6,80,000
4  4000  7,25,000

In [ ]:
x=df["area"]
y=df["price"]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y ,test_size=0.2)

In [ ]:
len(x_train)

4

In [ ]:
len(y_test)

1

In [ ]:
len(y_train)

4

In [ ]:
x_train

3    3600
2    3200
0    2600
1    3000
Name: area, dtype: int64

In [ ]:
y_train

3    6,80,000
2    6,10,000
0    5,50,000
1    5,65,000
Name: price, dtype: object

In [ ]:
scaler=MinMaxScaler()

In [ ]:
x_train.head()

3    3600
2    3200
0    2600
1    3000
Name: area, dtype: int64